@import "../../styles/variables";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  gap: 16px;

  &__list {
    max-width: 152px;
    overflow: hidden;
    display: flex;
    list-style: none;
    gap: 8px;
  }

  &__link {
    text-decoration: none;
    border: 1px solid $grayElements;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    color: $grayPrimary;

    &:hover {
      border: 1px solid $grayPrimary;
    }
  }

  &__active {
    background-color: $grayPrimary;
    color: $white;
  }

  &__disabled {
    pointer-events: none;

    &:hover {
      border-color: 1px solid $grayElements;
    }
  }
}
